/*CourseEntry.css*/

.Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: 20px solid rgb(176, 168, 168);
  opacity: 0.9;
  margin: 60px;
}

.course-entry {
  flex: 1; /* Takes the remaining space */
  padding: 20px; /* Adjust as needed */
  display:inline;

}

.label {
  position: inherit;
  margin-top: 50%;
}

.code-input {
  width: 50%;
  padding: 10px;
  margin: 10px;
  background-color: #182858;
  color: white;
  border: none;
  border-radius: 15px;
  min-height: 25px;
  ::placeholder {
      color: #d2c8bf;
  }

}

.login-button {
  background-color: #d2c8bf;
  color: #182858;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #b8ada4;
}

.entry-image {
  width: 75%; /* Adjust as needed */
  height: 75%; /* Adjust as needed */
  order: 1; /* Change the order to 1 to move it to the right */

}
