body {
  background-color: white;
}

.main-menu {
  color: var(--text-color);
}

/* light mode styles */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000; 
  }
}

/* dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #000; 
  }
}