body {
  background-color: rgb(251, 248, 243);
}

.unit-titles-container {
  margin-left: 50px;
  text-align: center; 
}

h2, h3 {
  text-align: center; 
}

.model-container, .model-page-container {
  width: 75%; 
  height: 60vh; 
}

.unit-content-container {
  height: 200px; 
  overflow-y: auto;
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 12px; 
}

.unit-content {
  padding: 15px; 
}

.subunit-image{
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin: auto;
  padding: 12px;
}

.full-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* transparent black background */
  z-index: 9999; /* ensure it's above all other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-image-container {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
}