body {
  background-color: rgb(251, 248, 243);
}

.unit-titles-container {
  margin-left: 50px;
  text-align: center; 
}

h2, h3 {
  text-align: center; 
}

.model-page-container {
  width: 75%; 
  height: 60vh; 
}

.model-container {
  width: 75%; 
  height: 60vh; 
}

.unit-content-container {
  height: 200px; 
  overflow-y: auto;
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 12px; 
}

.unit-content {
  padding: 15px; 
}

.subunit-image{
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin: auto;
}