.body {
  background-color: rgb(251,248,243);
}

.titles-container {
  margin: 10px;
  text-align: center; 
}

.titles-container {
  margin: 10px;
  text-align: center; 
}

h2, h3 {
  text-align: center; 
}

.threeD-model{
  position:absolute;
}

.controls-container {
  display: flex;
  flex-direction: column; 
  align-items:center; 
  margin-left: 600px;
  margin-top: 10px; 
  position:relative;

}

.control-group {
  margin-bottom: 15px;
  width:50%;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  align-items: flex-start;
  width: 60px;
  height: 34px;
}

.toggle-switch label {
  display: flex;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 10px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.content-container {
  width: 250px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
  margin:10px;
  position:relative;
  right:100px;
  text-align: center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
