.downloadLink, .about-team-link {
    padding-top: 60px;
    
}

.user-guide {
    text-align: center;
    align-items: center;
}
.user-guide-content {
    max-width: 500px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}